body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.wrapHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.wrapMain {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.wrapHeader .search-form > input {
  width: 45rem;
}
#gallery {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 225px;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
#gallery > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#gallery > li > img {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
#gallery > li > img:hover {
  transform: scale(1.05);
  cursor: zoom-in;
}
.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: gray;
}
.stats > p {
  display: flex;
  align-items: center;
}
.wrapFooter {
  display: flex;
  justify-content: center;
}

.btnLoadMore {
  color: grey;
  padding: 15px 15px;
  text-transform: uppercase;
  width: 350px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  border-radius: 15px;
  display: block;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #a3a3a3 50%,
    #e2e2e2
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  font: 400 14px tahoma;
  border: 1px solid #ffffff;
}
.btnLoadMore:hover {
  background-position: 0 0;
  color: #fff;
}

@media (max-width: 600px) {
  .wrapHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .wrapGallery {
    max-width: 600px;
  }
  .wrapHeader .search-form > input {
    width: 15rem;
  }
  #gallery {
    display: flex;
    max-width: 580px;
    justify-content: center;
    flex-direction: column;
  }
  #gallery > li {
    display: flex;
    justify-content: center;
  }
  #gallery > li > img {
    display: flex;
    justify-content: center;
    height: 18rem;
    object-fit: contain;
  }
  .stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    color: gray;
  }
  .stats > p {
    display: flex;
    align-items: center;
  }
  .basicLightbox {
    width: 100%;

    padding: 0;
    margin: 0;
  }
}

@media (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wrapHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .wrapGallery {
    max-width: 1199px;
  }
  .wrapHeader .search-form > input {
    width: 15rem;
  }
  #gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  #gallery > li {
    display: flex;
    justify-content: center;
  }
  #gallery > li > img {
    display: flex;
    justify-content: center;
    object-fit: contain;
  }
  .stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    color: gray;
  }
  .stats > p {
    display: flex;
    align-items: center;
  }
  .basicLightbox {
    width: 100%;

    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .wrapGallery {
    max-width: 992px;
  }
  .wrapHeader .search-form > input {
    width: 15rem;
  }
  #gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  #gallery > li {
    display: flex;
    justify-content: center;
  }
  #gallery > li > img {
    display: flex;
    justify-content: center;
    object-fit: contain;
  }
  .stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    color: gray;
  }
  .stats > p {
    display: flex;
    align-items: center;
  }
  .basicLightbox {
    width: 100%;

    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  body {
    margin: 1rem;
  }
  .wrapHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }

  .wrapGallery {
    max-width: 480px;
  }
  .wrapHeader .search-form > input {
    width: 15rem;
  }
  #gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  #gallery > li {
    display: flex;
    justify-content: center;
  }
  #gallery > li > img {
    display: flex;
    justify-content: center;
    object-fit: contain;
  }
  .stats {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    color: gray;
  }
  .stats > p {
    display: flex;
    align-items: center;
  }
  .basicLightbox {
    width: 100%;

    padding: 0;
    margin: 0;
  }
}
